<div class="owl-item" style="width: 239px;"><div class="item">
        <a href="/laptop/apple-macbook-air-mqd32sa-a-i5-5350u" class="laptop vertion2020 large" data-s="0">
            <div class="heightlabel">
                
            </div>
            <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/44/106875/TimerThumb/apple-macbook-air-mqd32sa-a-i5-5350u-(2).jpg" class=" lazyloaded" alt="Apple MacBook Air 2017 i5 1.8GHz/8GB/128GB (MQD32SA/A)" src="https://cdn.tgdd.vn/Products/Images/44/106875/TimerThumb/apple-macbook-air-mqd32sa-a-i5-5350u-(2).jpg">
            
                <h3>MacBook Air 2017 128GB (MQD32SA/A)</h3>
                        <div class="props">
                        <span class="dotted  ">RAM 8 GB</span>
                        <span class="dotted  ">SSD 128GB</span>
            </div>


                            <div class="price">
                        <strong>18.490.000₫</strong>
                        <span>19.990.000₫</span>
                            <i>-7%</i>
                </div>
                                    <div class="ratingresult">
                        <i class="icontgdd-ystar"></i>
                        <i class="icontgdd-ystar"></i>
                        <i class="icontgdd-ystar"></i>
                        <i class="icontgdd-ystar"></i>
                                <i class="icontgdd-hstar"></i>
                <span>45 đánh giá</span>
            </div>

            <input class="spInfo" data-brand="MacBook" data-cat="Laptop" data-code="0220042000233" data-price="19990000" data-pro="3" data-version="" id="data106875" name="data106875" type="hidden" value="106875">
        </a>
                </div></div>